*{
margin: 0;
padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px;
    
}
li,h1,ul{
    
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color:azure
}
input{
    width: 60%;
    margin: 50px;
    padding: 10px;
    border: solid black;
}
.searchbar{
    text-align: center;
    padding: 10px;
}
.box{
    border: solid burlywood;
    border-width: 2px;
    width: 200px;
    margin: 10px;
    height: 300px;
    padding: 20px;
    display: inline-block;
}
.products{
    text-align: center;
}

.box:hover{
    background-color: black;
    color: aliceblue;
}

.products{
    cursor: pointer;
}
.about{
    text-align: center;
    padding: 20px;
}
p{
    padding: 20px;
}
.contact{
    background-color: black;
    color: azure;
    text-align: center;
    padding: 40px;
    display: inline-block;
}